In [19]:
import requests

### Retrieve employees

In [20]:
r = requests.get('http://localhost:4998/api/employees/show')
print(f'status code {r.status_code}')
print(r.json())

status code 200
[{'dob': '1991-12-23', 'employee_id': '00001', 'full name': 'duke rogers', 'position': 'data analyst', 'salary': 60000}]

### Retrieve one employee

In [21]:
r = requests.get('http://localhost:4998/api/employees/show/00007')
print(f'status code {r.status_code}')
print(r.json())

status code 200
{'failed': 'no employees with this id'}

In [22]:
r = requests.get('http://localhost:4998/api/employees/show/00001')
print(f'status code {r.status_code}')
print(r.json())

status code 200
{'dob': '1991-12-23', 'employee_id': '00001', 'full name': 'duke rogers', 'position': 'data analyst', 'salary': 60000}

### Create new employee

In [29]:
r = requests.post('http://localhost:4998/api/employees/create', 
                  json = [{'full name':'jessi sands',
                          'dob':'1989-11-22',
                          'position':'Accountant',
                          'salary':60000},{'full name':'bob dillain'}])

In [30]:
r.status_code

200

In [31]:
results = r.json()

In [32]:
results

[{'dob': '1991-12-23',
  'employee_id': '00001',
  'full name': 'duke rogers',
  'position': 'data analyst',
  'salary': 60000},
 [{'dob': '1989-11-22',
   'full name': 'jessi sands',
   'position': 'Accountant',
   'salary': 60000},
  {'full name': 'bob dillain'}]]